@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Carter One', cursive;
}

.header {
    width: 100%;
    // height: 100vh;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    border-bottom: 0.3px solid rgba(153, 153, 153, 0.24);
    background-color: rgba(255, 255, 255, 0.836);
    position: sticky;
    top: 0;
    z-index: 100;
    .logo {
        width: 150px;
        height: 35px;
        .logo_img {
            width: 100%;
            height: 100%;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        .menu_items {
            margin-right: 20px;
            margin-left: 20px;
            a {
                font-size: 16px;
                color: #777;
                font-weight: normal;
                padding-bottom: 16px;
                border-bottom: 3.5px solid #fff;
                transition: 0.4s;
                &:hover {
                    color: #000;
                }
            }
            .fire {
                color: #000;
                border-bottom: 3.5px solid #46A358;
            }
        }
    }
    .gicon {
        display: flex;
        align-items: center;
        .icon__nav-search {
            margin-right: 15px;
            font-size: 22px;
            cursor: pointer;
        }
        .icon__nav-cart {
            margin-left: 15px;
            font-size: 22px;
            cursor: pointer;
        }
        .btn_in {
            display: flex;
            align-items: center;
            margin-left: 30px;
            padding: 7px 25px;
            background: #46A358;
            border-radius: 6px;
            border: none;
            font-weight: 600;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                background: #1E8449;
            }
            i {
                font-size: 20px;
                margin-right: 3px;
                color: #fff;
            }
            b {
                font-size: 15px;
                color: #fff;
                margin-left: 3px;
            }
        }
    }
}

.header__body {
    width: 85%;
    margin: auto;
    .header__body-all {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__body-text {
            width: 45%;
            b {
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.1em;
                color: #3D3D3D;
            }
            h1 {
                font-weight: 900;
                font-size: 70px;
                line-height: 70px;
                color: #000000e3;
                margin-top: 10px;
                margin-bottom: 5px;
                span {
                    color: #46A358;
                }
            }
            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #727272;
            }
            .btn_shop {
                margin-top: 40px;
                border: none;
                padding: 10px 30px;
                background: #46A358;
                border-radius: 6px;
                font-weight: bold;
                font-size: 15px;
                color: #FFFFFF;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                    background: #1E8449;
                }
            }
        }
        .header__body-img {
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
}